name: Compose - Build, Push & Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      DH_USER: ${{ secrets.DOCKERHUB_USERNAME }}
      REPO: ${{ secrets.DOCKERHUB_REPO }}
      SSH_OPTS: '-o StrictHostKeyChecking=no'
      REMOTE: 'root@${{ secrets.AKAMAI_INSTANCE_IP_ADDRESS }}'
      REMOTE_APP_DIR: '/opt/app'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build the Docker image
      run: |
        docker build -f Dockerfile \
          -t "$DH_USER/$REPO:latest" \
          -t "$DH_USER/$REPO:${{ github.sha }}" \
          .

    - name: Push the Docker image to Docker Hub
      run: |
        docker push "$DH_USER/$REPO" --all-tags

    - name: Create .env file
      run: |
        echo "MY_SECRET_KEY=${{ secrets.MY_SECRET_KEY }}" >> .env
        echo "API_ENDPOINT=${{ secrets.API_ENDPOINT }}" >> .env

    - name: Implement the Private SSH Key
      run: |
        mkdir -p ~/.ssh/
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

    - name: Copy .env and compose.yaml to VM
      run: |
        ssh $SSH_OPTS $REMOTE mkdir -p $REMOTE_APP_DIR
        scp $SSH_OPTS .env $REMOTE:$REMOTE_APP_DIR/.env
        scp $SSH_OPTS compose.prod.yaml $REMOTE:$REMOTE_APP_DIR/compose.yaml

    - name: Ensure Docker and Docker Compose is installed on VM
      run: |
        ssh $SSH_OPTS $REMOTE << EOF
          if ! command -v docker &> /dev/null; then
            curl -fsSL https://get.docker.com -o get-docker.sh
            sudo sh get-docker.sh
            rm get-docker.sh
            # install Docker Compose
            sudo apt-get update
            sudo apt-get install docker-compose-plugin
          fi
        EOF
  
    - name: Run Docker Compose
      run: |
        ssh $SSH_OPTS $REMOTE << EOF
        cd $REMOTE_APP_DIR
        # update images
        docker compose -f compose.yaml pull
        # run containers
        docker compose -f compose.yaml up -d
        EOF

    - name: Clean up .env file
      run: rm .env

    - name: Clean up SSH private key
      run: rm ~/.ssh/id_rsa
